
body {

    font-family: arial, sans-serif;
  
    margin: 2em;
     
  }
  
  
  h1 {
  
    font-style: italic;
  
    color: #FF6F00;
  
  }
  .center {
    text-align: center;
  }
  
  canvas {
  
    display: block;
    padding: 0;
    background-color: black;
    border: solid 1px black;
    margin: 0 auto
  }
  
  p#prediction {
  
    font-size: 20pt;
  
    margin: 10px;
  
    text-align: center;
  
  }
  
  
 .correct {
  
  
    color: #6b6d6b;
  
    font-size: 100pt;
  
  }
  
 
  
  p {
  
    margin: 5px;
  
  }
  
  
  .box {
  
    width: 45%;
  
    margin: 1%;
  
    border: 1px dashed #cdcdcd;
    
    min-height: 400px;
  
    text-align: center;
  
    float: left;
  
  }
  .button{
    width: 45%;

  }
  .myImg{
      background-color: black;
      display: block;
      margin: 1rem auto;
      padding: 1rem 3rem;
     height: 28px;
     width: 28px
  }
  .myBtn{
    display: block;
    margin: 0 auto;
  }
  